@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

:root {
    --cursor-visibility: hidden;
}

html,
body {
    width: calc(100%-24rem);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    overflow: auto;

    font-family: "Inconsolata", monospace;
    font-size: 4vmin;
    line-height: 4.1vmin;
    font-weight: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content {
    min-width: 82vmin;
    min-height: 82vmin;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 1px white;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: 0 0 0 1px white;
}

.cursor {
    visibility: var(--cursor-visibility);
        content: "|";
        overflow: hidden;
        color: white;
        animation: blink 500ms linear infinite alternate;
}

#cd, #whoami, #cat, #tree {
    &:after {
        @extend .cursor;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 2.5vmin;
        line-height: 2.6vmin;
    }

    #content {
        min-width: 60vmin;
    }
}
