<!-- Print the "Home" link and text for link to previous directory(assumed to be given by "navbar.html") 
-->

<span>
    <a href="/">Home</a>
    <span style="color: white;">&#8192;|&#8192;</span>
    <a href="./..">{{ . }}</a>
</span>
